* {
  box-sizing: border-box;
  border: none;
  padding: none;
}

:root {
  --main-bg: #eee;
  --second-bg: #fff;
  --bd: #aaa;
  --error: #d32f2f;
  --submit: #1565c0;
}
html {
  text-align: right;
  direction: rtl;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg);
}

nav ul {
  list-style-type: none;
  width: 100%;
  margin: auto;
  text-align: center;
}

nav li {
  display: inline;
  padding: 20px;
  background-color: #6d4c41;
}

nav li:hover {
  background-color: #5d4037;
}


nav a {
  text-decoration: none;
  color: white;
}

.container {
  width: 80%;
  margin: auto;
}

.messages {
  list-style-type: none;
  width: 80%;
  margin: auto;
  text-align: center;
}

.messages .error {
  background-color: var(--error);
  padding: 10px 20px 10px 0;
  color: #fff;
}

/* LOGIN */
.login {
  background-color: var(--second-bg);
  width: 25%;
  margin: auto;
  margin-top: 5%;
  padding: 20px 0 40px 0;
  border-radius: 10px;
  border: 1px solid var(--bd);
}

.login h1 {
  text-align: center;
  margin: 5px 0;
}

.login hr {
  background-color: var(--bd);
  height: 1px;
  margin: 20px 0 50px 0;
}

.login input {
  background-color: var(--second-bg);
  display: block;
  width: 75%;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid var(--bd);
}

.login input[type="submit"] {
  background-color: var(--submit);
  color: white;
  font-weight: bold;
  margin-top: 30px;
  border: none;
}

.login input[type="submit"]:hover {
  background-color: #003c8f;
}

.dashboard {
  margin-top: 2rem;
}

.dashboard .row {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--bd);
}

.row li {
  list-style-type: none;
  padding-top: 10px;
}

.row input {
  margin-top: 10px;
  border: none;
  background-color: var(--submit);
  /* border-radius: 10px; */
  padding: 5px 20px;
  color: var(--main-bg)
}

.row .edit:hover {
  background-color: #003c8f;
}

.row .error {
  background-color: var(--error);
}

.row .error:hover {
  background-color:#c62828;
}

footer p {
  text-align: center;
  margin-top: 10%;
}

/* Media Quries */
@media (max-width:1024px) { 
  .login {
    width: 40%;
  }

}

@media (max-width:768px) { 
  .login {
    width: 55%;
  }
 
}

@media (max-width:468px) { 
  .login {
    width: 70%;
  }
  
}