* {
  box-sizing: border-box;
  border: none;
  padding: none;
}

:root {
  --main-bg: #eee;
  --second-bg: #fff;
  --bd: #aaa;
  --error: #d32f2f;
  --submit: #1565c0;
  --btn-hover: #0f56a7;
}



html {
  text-align: right;
  direction: rtl;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg);
}

nav ul {
  list-style-type: none;
  width: 100%;
  margin: auto;
  text-align: center;
}

nav li {
  display: inline;
  padding: 20px;
  background-color: #6d4c41;
}

nav li:hover {
  background-color: #5d4037;
}


nav a {
  text-decoration: none;
  color: white;
}


/* -------------------   
    GLOBAL STYLES    
------------------- */
.btn {
  background-color: var(--submit);
  color: white;
  font-weight: bold;
  border: none;
 
}

.btn:hover {
  background-color: var(--btn-hover);
}

.entry {
  background-color: var(--second-bg);
  border: 1px solid var(--bd);
  outline: none;
}

.container {
  width: 80%;
  margin: auto;
}

/* MESSAGES */
.messages {
  list-style-type: none;
  width: 100%;
  margin: auto;
  text-align: center;
}

.messages .error {
  background-color: var(--error);
  padding: 10px 20px 10px 0;
  color: #fff;
}

/* LOGIN */
.login {
  display: flex;
  margin: auto;
  margin-top: 100px;
  border: 1px solid var(--bd);
  width: 65%;
  /* right bottom blure padding */
  box-shadow: 0 0 50px 10px var(--bd)
}

/* LOGIN */
.login img {
  max-width: 450px;
  height: 100%;
  flex-grow: 1;
}

.login form {
  flex-grow: 1;
  background-color: var(--second-bg);
  padding: 1rem;
}

.login h1 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.login input {
  display: block;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
}


.dashboard {
  margin-top: 2rem;
}

.dashboard .row {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--bd);
}

.row li {
  list-style-type: none;
  padding-top: 10px;
}

.row input {
  margin-top: 10px;
  border: none;
  background-color: var(--submit);
  /* border-radius: 10px; */
  padding: 5px 20px;
  color: var(--main-bg)
}

.row .edit:hover {
  background-color: #003c8f;
}

.row .error {
  background-color: var(--error);
}

.row .error:hover {
  background-color:#c62828;
}

footer p {
  text-align: center;
  margin-top: 10%;
}

/* Media Quries */
@media (max-width:1024px) { 
  .login {
    width: 80%;
  }
  .login img {
    width: 350px;
  }

}

@media (max-width:768px) { 

  .login img {
    display: none;
  }
 
}

@media (max-width:468px) { 
  .login {
    width: 80%;
  }
  .login img {
    display: none;
  }

  .login h1 {
    font-size: 1.5rem;
  }
  
}