{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"
    <title>{% block title %}{% endblock title%}</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link3</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {% block main %}{% endblock main %}
  </main>
  <footer><p>کلیه حقوق مادی معنوی این وب سایت متعلق به شرکت سامان آبراه می باشد.</p></footer>
</body>
</html>